{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main">
        <div class="login-container">
            <h1>Вход</h1>
            <form method="post">
                {% csrf_token %}

                <p>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </p>

                <p>
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </p>

                {% if form.non_field_errors %}
                    <div class="form-error">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <button type="submit"> Войти </button>
            </form>
        </div>
    </main>
{% endblock %}